@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply h-screen;
  }

  .main-layout {
    grid-template-rows: 88px calc(100vh - 64px - 88px) 64px;
  }
}

html,
body {
  height: 100vh;
  margin: 0;
}

/*@layer components {
  .prose :where(h1, h2, h3, h4)[dir="auto"]:has(> a) {
    @apply flex items-center gap-2;
  }
  .prose :where(h1, h2, h3, h4)[dir="auto"] > a.anchor > svg {
    fill: var(--tw-prose-headings);
    @apply h-5 w-5;
  }
}*/

/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}*/
